<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Léonard Hehlen</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/themify-icons.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/nice-select.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/flaticon.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/gijgo.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/animate.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/slick.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/slicknav.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>
<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <!-- header-end -->

    <!-- slider_area_start -->
    <form action="" method="POST" style="width: 50%; margin: auto; margin-top: 25px;">
        <label for="obj" style="width: 100%;">Votre Objet: </label>
        <input type="text" name="obj" id="obj" style="width: 50%;">
        <label for="msg" style="width: 100%;">Votre Message: </label>
        <textarea name="msg" id="" cols="30" rows="10" style="width: 100%;" ></textarea>
        <button type="submit" style="width: 50%; margin-top: 15px;">Envoyer</button>
    
        {% for message in var_to_template['messages']%}
            <div style="margin-top: 25px; margin-bottom: 15px; border-style: solid; border-width: 1px; padding: 15px;">
                <p><span style="font-weight: bold; text-decoration: underline;"> {{var_to_template['user'].email}}</span></p>
                <p><div><span style="font-weight: bold;">Object :</span> <span style="font-style: italic;">{{message.obj}}</span></div></p>
                <p><div><span style="font-weight: bold;">Message :</span> </div><br> <div><span style="background-color: rgb(175, 209, 240); padding: 10px; border-radius: 15px;">{{message.msg}}</span></div></p>
            </div>
        {% endfor %}
    </form>
    <!-- slider_area_end -->

    <!-- footer start -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-md-6">
                        <div class="socail_links">
                            <ul>
                                <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                <li><a href="#"> <i class="fa fa-instagram"></i> </a></li>
                                <li><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end  -->

    <!-- JS here -->
    <script src="{{ url_for('static', filename='/js/vendor/modernizr-3.5.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/vendor/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/ajax-form.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/scrollIt.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/jquery.scrollUp.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/nice-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/jquery.slicknav.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/gijgo.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/contact.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/jquery.ajaxchimp.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/jquery.form.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/mail-script.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/main.js') }}"></script>
</body>
</html>